@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e1e1e;
  color: white;
}

/* 웹킷 브라우저들을 위한 내용(Chrome, Safari) */
::-webkit-scrollbar {
  width: 0rem;
  height: 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}
